body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.movie {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.movie img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.movie h2 {
    margin-top: 0;
}

.movie p {
    margin-bottom: 0;
}
